<%- include("../public/partials/header.ejs") %>

<body>
  <div class="container ">
    <div class="row">
      <div class="col">
        <div class="container text-center p-1 accessBox">
          <form action="/register" method="post" onsubmit="return comparePwd()">
            <div class="row m-1">
              <div class="col"><label for="username">Username: </label>
                <input type="text" name="username" required>
              </div>
            </div>
            <div class="row m-1">
              <div class="col">
                <label for="email">Email: </label>
                <input type="email" name="email" required>
              </div>
            </div>
            <div class="row m-1">
              <div class="col">
                <label for="password">Password: </label>
                <input type="password" id="password" name="password" required>
              </div>
            </div>
            <div class="row m-1">
              <div class="col">
                <label for="password">Conferma Password: </label>
                <input type="password" id="passwordConferma" name="passwordConferma" required>
              </div>
            </div>
            <div class="row m-1">
              <div class="col">
                <label for="Scuola">Scuola: </label>
                <select id="Scuola" name="scuola">
                  <option value="0">Scuola secondaria di primo grado</option>
                  <option value="1">Scuola secondaria di secondo grado</option>
                  <option value="2">Università</option>
                </select>
              </div>
            </div>

            <div class="row m-1">
              <div class="col" id="tipoContainer">
              </div>
            </div>

            <div class="row m-1">
              <div class="col">
                <label for="Anno">Anno scolastico: </label>
                <select id="Anno" name="anno">
                </select>
              </div>
            </div>

            <div class="row m-1">
              <div class="col">
                <input type="submit" value="Registrati">
              </div>
            </div>
          </form>
          <a href="/login">Accedi!</a>
        </div>
      </div>
    </div>
  </div>
  </div>
</body>
<script>
  let passwordConferma = document.getElementById("passwordConferma")
  let password = document.getElementById("password")
  // Funzione per aggiornare le opzioni dell'elemento select dell'anno
  function updateAnnoOptions(scuolaValue) {
    var annoSelect = document.getElementById("Anno");
    annoSelect.innerHTML = ""; // Rimuove tutte le opzioni attuali

    var options = [];

    switch (scuolaValue) {
      case "0":
        options = ["3"];
        break;
      case "1":
        options = ["1", "2", "3", "4", "5"];
        break;
      case "2":
        options = ["1", "2", "3", "4", "5", "6", "7"];
        break;
    }

    options.forEach(function(value) {
      var option = document.createElement("option");
      option.text = value;
      option.value = value;
      annoSelect.add(option);
    });
  }

  // Funzione per aggiornare il select aggiuntivo in base alla scelta della scuola
  function updateTipoSelect(scuolaValue) {
    var tipoContainer = document.getElementById("tipoContainer");
    tipoContainer.innerHTML = ""; // Rimuove il select aggiuntivo attuale
    if (scuolaValue === "0") { // Scuola secondaria di secondo grado o università
      var tipoSelect = document.createElement("select");
      var label = document.createElement("label");
      label.htmlFor = "Tipo";
      label.innerHTML = "Tipo:";

      tipoContainer.appendChild(label);
      tipoSelect.id = "tipo";
      var options = ["Media"];


      options.forEach(function(value) {
        var option = document.createElement("option");
        option.text = value;
        option.value = value;
        tipoSelect.add(option);
      });
      tipoSelect.name = "tipo";
      tipoContainer.appendChild(tipoSelect);
    }
    if (scuolaValue === "1") { // Scuola secondaria di secondo grado o università
      var tipoSelect = document.createElement("select");
      var label = document.createElement("label");
      label.htmlFor = "Tipo";
      label.innerHTML = "Tipo:";

      tipoContainer.appendChild(label);
      tipoSelect.id = "tipo";
      var options = ["Informatica", "Telecomunicazioni", "Biotecnologie", "Energia", "Scienze Applicate"];


      options.forEach(function(value) {
        var option = document.createElement("option");
        option.text = value;
        option.value = value;
        tipoSelect.add(option);
      });
      tipoSelect.name = "tipo";
      tipoContainer.appendChild(tipoSelect);
    }
  }

  // Inizializza il select aggiuntivo sulla base della scuola selezionata inizialmente
  updateTipoSelect(document.getElementById("Scuola").value);

  // Inizializza le opzioni dell'anno sulla base della scuola selezionata inizialmente
  updateAnnoOptions(document.getElementById("Scuola").value);

  // Ascolta l'evento di cambio sulla select della scuola
  document.getElementById("Scuola").addEventListener("change", function() {
    var scuolaValue = this.value;
    updateAnnoOptions(scuolaValue);
    updateTipoSelect(scuolaValue);
  });


  function comparePwd() {
    if (passwordConferma.value) {
      if (password.value != passwordConferma.value) {
        /*In caso non fossero uguali*/
        return false
        e.preventDefault()
      }
    }
  }
</script>
<%- include("../public/partials/footer.ejs") %>